$color1:#F90;
$color2:#fff;
$color3:#000;
$fontfam:'Fira Sans', sans-serif;
$fontsize:10px;




.boton{float:right;
    background-color:$color1;
    font-family: $fontfam;
    font-size: $fontsize+2;
    font-weight: bold;
    height: 30px;
    width:auto;
    border:none;
    padding-top: 5px;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-top: 4px;
    margin-right: 20px}


.boton a{color:$color3;
    text-decoration: none}

.boton a:hover{color:$color2}

.formulario, #mini{margin:10px;
            font-family: $fontfam;
                font-size: $fontsize+4}

.formulario{width:160px}

#llegada, #salida {font-family: $fontfam;
                    width: 120px}

section{font-family:$fontfam;
    width: 120px;
    font-size: $fontsize+2;
    text-align: center;    
}

.title-reviews,
.title-ubicacion{font-family: $fontfam;
            font-size:$fontsize+8;
            font-weight:bold}

.title-ubicacion{float:right;
            margin-right: 180px;
}
.title-reviews{float:left;
            margin-left: 180px}

hr{width:50px;

height: 3px;
background-color: $color1;
border: none}

.mapa{float:right;
    text-align:right;
    display:inline;
    margin-right:0px}

.reviews{text-align: left;
    display:inline;
    float: left;
    margin-left:0px;
    position:relative}

.promo1,
.promo2,
.promo3{height:314px;
    text-align:center;
    display: inline-block;
    margin:30px}

.promo1{margin-left:0px;}        

.promo3{position:absolute;
    float:right;
    margin-right:0px}