.contenedor{
    width:100%;
    background:#666666;
    display: flex;
    flex-wrap: wrap;
        justify-content:center}
    
    .contenedor img{
        width: 20%;
        height:200px;
        margin:10px}