.thumbnail:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*media queries tablet*/
@media (min-width:577px) and (max-width:991px)
    {body{
    background-color: yellow;
    }}

/*media queries smartphone*/
@media (max-width:576px)
    {body{
    background-color: lightgreen;
    }}
@media (max-width:768px) and (landscape)
    {body{
    background-color: lightskyblue;
        }}