$color2:#fff;
$color3:#000;
$color4:#fc3;
$color5:#fc0;
$fontfam:'Fira Sans', sans-serif;
$fontsize:10px;

footer{height: 225px;
    width: 1024px;
    background: linear-gradient(black, red);
    position:absolute;
    right:0;
    bottom:0;
    left:0;
    text-align:justify}

footer ul{text-align: justify;
        padding: top 30px}

footer ul li{text-decoration: none;
        list-style: none;
        display: inline-block;
        margin:20px;
        vertical-align: top}

footer a{color:$color2;
    text-decoration:none;
    font-family:$fontfam;
    font-size: $fontsize+2;
    font-weight:bold}

footer a:hover{color:$color4}

p{color: $color3;
font-family:$fontfam;
font-size: $fontsize+1;
font-weight: lighter;
text-align:center}

address{color:$color2;
    font-family:$fontfam;
    font-size: $fontsize;
    font-weight: lighter;
    text-align: center}

.logo {text-align: center;
    bottom:-200px}

span{display: inline-block;
line-height:15px}

span a {font-weight:lighter;
    font-size: $fontsize+1}

span a:hover {color:$color5}        


#redes a{margin:4px}